[viewBag]
==
<div id="dialog-offer3" title="Apply for Belize IBC formation in July and get a set of apostilled documents for free!" style="padding-left:50px;">

<form
    data-request="onSendOfferForm"
    data-request-success="$('#dialog-offer3').dialog('close');$('#dialog-thankyou').dialog('open')"
    data-request-update="'ajax-response': '.thankyou-dialog .ui-dialog-title'"
    data-request-validate
    data-request-flash
    class="form-horizontal"
    >
    
    <input type="hidden" name='url' value="{{ ''| page }}">
    <input type="hidden" name='product_type' value="73">
    <input type="hidden" name='product_name' value="{{ record.name }}">    
    
    <div class="form-group row crm-webform-group">
        <div class="">
            <input class="form-control crm-webform-input" name="firstname" placeholder="Name*"/>
            <span data-validate-for="firstname" class="crm-tooltip"></span>
        </div>
    </div>


    <div class="form-group row crm-webform-group">
        <div class="">
            <input class="form-control crm-webform-input" name="email" placeholder="E-mail*"/>
            <span data-validate-for="email" class="crm-tooltip"></span>
        </div>
    </div>

    <div class="form-group row crm-webform-group">
        <div class="">
            <input class="form-control crm-webform-input" name="phone" placeholder="Phone"/>
            <span data-validate-for="phone" class="crm-tooltip"></span>
        </div>
    </div>
    
    <div class="form-group row crm-webform-group">
        <div class="">
            <textarea class="form-control crm-webform-input" name="message" placeholder="Your comment..." ></textarea>
            <span data-validate-for="message" class="crm-tooltip"></span>
        </div>
    </div>


    <div class="row" style="margin-bottom:20px;width:60%;margin-left:auto;margin-right:auto">
        <button class="btn btn-primary crm-webform-submit-button" type=submit data-attach-loading>
            Submit
        </button>
    </div>

</form>

</div>





<script>
    $( function() {
         $('#dialog-offer3').dialog({
             autoOpen: true,
             height: 'auto',
             width: "500px",
             position: ["50%", "50%"],
             modal:true,
             dialogClass:"contact-us-dialog",
             create: function (event) {
               $(event.target).parent().css({ 'position': 'fixed', "left": "50%", "top": "10%", "margin-left": "-250px" });
             },
             open: function()
            {
                $('input:visible,textarea').val('');
                var dialog = this;
                $('.ui-widget-overlay').on('click', function()
                {
                    $(dialog).dialog('close');
                });
            },
            close: function(){

            }
         });
          
         /*$("#dialog-contactus-form-btn").click(function(){
             $('#dialog-contactus').dialog('open');   
         })*/
      } );


    $(window).on('ajaxInvalidField', function(event, fieldElement, fieldName, errorMsg, isFirst) {
        $(fieldElement).closest('.form-group').addClass('has-error');
    });
    
    $(document).on('ajaxPromise', '[data-request]', function() {
        $(this).closest('form').find('.form-group.has-error').removeClass('has-error');
    });

</script>