 
.row .crm-webform-wrapper {
    color: #374d5c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.row .crm-webform-header {
    color: #374d5c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0 !important;
    text-align: center;
    text-transform: none;
    line-heigth: 24px;
    font-size: 24px;
    letter-spacing: 0.25px;
}
.row .crm-webform-submit-button {
    background: #8aa203 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    width: 100%;
}
.row .crm-webform-input {
    border-radius: 3px;
    line-heigth: 21px;
    letter-spacing: 0.25px;
    font-size:16px;
}
.row .crm-webform-input, .row .crm-webform-select select, .row .crm-webform-textarea textarea {
    -moz-appearance: none;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    height: 40px;
    outline: 0 none;
    padding: 8px 46px 8px 10px;
    transition: border-color 0.5s ease-in-out 0s;
    width: 100%;
}