html, body, div, h1, h2, h3, h4, h5, h6, p, img, ul, li, table {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0 !important;
    /*font-size: 100%;*/
    vertical-align: baseline;
    background: transparent
}

ol, ul {
    list-style: none
}

:focus {
    outline: none !important
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    color: #1e2b34;
    background: #ececec;
}

a {
    color: #adbe4f;
    cursor: pointer;
    text-decoration: none;
}
