title = "Accountingdetails"
url = "/accounting/:type/:slug"
layout = "base"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[SeoCmsPage]
==
<?php
function onStart()
{
    $this["record"] = Db::table('offshorelicense_offers_accounting')->where('type',$this->param('type'))->where('slug',$this->param('slug'))->where('disabled','<>','1')->first();
    $this->page['breadscrumbs'] = array(
        'Home'=>$this->page['site_link'],
        'Accounting'=>"/accounting",
        ucfirst($this["record"]->type)=>"/accounting/#".$this["record"]->type,
        ucfirst($this["record"]->region)=>"/accounting/#".$this["record"]->type.str_replace(' ','',$this["record"]->region),
        $this["record"]->name=>"",
    );
}

function onEnd() {
    if (!$this["record"])
        return Redirect::to('/404');
    $this->SeoCmsPage->seo_title = $this["record"]->meta_title." - Offshorelicense";
    $this->SeoCmsPage->seo_keywords = $this["record"]->meta_keywords;
    $this->SeoCmsPage->seo_description = $this["record"]->meta_description;

    //$this->SeoCmsPage->seo_title = $this["bank"]->name." ".$this["bank"]->type." account opening with Offshorelicense";
    //$this->SeoCmsPage->seo_description = $this["record"]->name." ".$this["record"]->type." accounting";
    //$this->SeoCmsPage->seo_keywords = $this["record"]->name." ".$this["record"]->type." account opening with Offshorelicense";
}
?>
==
{% if record %}
    {{ attribute(record, displayColumn) }}
{% else %}
    {{ notFoundMessage }}
{% endif %}





<div class="page bank">

<div class="bx_item_detail bx_blue" id="bx_117848907_586">

<div id="companyDetailTop" class="page-top">
	<div class="content mainPage-list">
		<div class="text center">
		{% if attribute(record, "title")%}
		    <h1 class="main-offer__heading">{{attribute(record, "title")}}</h1>
		{% else %}
			<h1 class="main-offer__heading">Accounting and Audit Services</h1>
		{% endif %}
			<div class="companyInfo main-offer__list">
				{% partial 'recommended-card'
					href='bank'|page({'type':item.type, 'slug':item.slug})
					img=attribute(record, "logo")|media
					title= attribute(record, "name")
					text=attribute(record, "country")
					priceTitle="Starting from"
					price="€" ~ attribute(record, "price") | number_format(0, '.', ',')
				%}
			</div>
		</div>
	</div>
</div>

{% if this.page["breadscrumbs"] %}
 <div class="white-bg">
 <div class="content">
    <ul class='breadscrumbs'>
        {%for item,url in this.page["breadscrumbs"]%}
        <li>
            {% if url!="" %}
                <a href="{{url}}">{{item}}</a>
            {% else %}
                {{item}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endif %}



<div id="companyDetailInfo" class="bank description-page">
	<div class="cont content">
	{% if attribute(record, "type")=="accounting" %}
		<div class="logo"  style="background-image: url('{{ "/assets/img/menuAccountingBigGreen.png"|theme }}');"></div>
	{% endif %}
	{% if attribute(record, "type")=="audit" %}
		<div class="logo"  style="background-image: url('{{ "/assets/img/menuAuditBigGreen.png"|theme }}');"></div>
	{% endif %}


		<span><p>{{ attribute(record, "info") | raw }}</p></span>
	</div>
</div>
	<div id="licDetailBody" class="content detail-body-table">
		<div class="detail-body-table__wrap">
			<a class="detail-body-table__back" href="{{'accounting'|page}}">Back to list</a>
			<p class="detail-body-table__title">

                {% if attribute(record, "type") == 'accounting'%}
                    <img src="{{ 'assets/img/menuAccountingVerySmallGreen.png'|theme }}" border="0">
                {% endif%}

                {% if attribute(record, "type") == 'audit'%}
                    <img src="{{ 'assets/img/auditVerySmallGreen.png'|theme }}" border="0">

                {% endif%}
                <span class="">
                    {{ attribute(record, "type") | capitalize }} services
                </span>

		</div>
		<div class="std-style ol-style" style="background-color: #FFF; padding: 24px;">
            {% if attribute(record, "type") == 'accounting'%}
				{{ attribute(record, "description") | raw }}
            {% endif%}
            {% if attribute(record, "type") == 'audit'%}
            	{{ attribute(record, "description") | raw }}
            {% endif%}
		</div>
	</div>
</div>
</div>
