title = "Intellectual property"
url = "/intellectualproperty/:slug"
layout = "base"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[SeoCmsPage]
==
<?php
function onEnd() {
     $this["record"] = Db::table('offshorelicense_offers_intprop')->where('slug',$this->param('slug'))->where('disabled','<>','1')->first();
    if (! $this["record"])
        return Redirect::to('/404');

    $this->page['breadscrumbs'] = array(
        'Home'=>$this->page['site_link'],
        'Intellectual Property'=>"/intellectualproperty",
        ucfirst($this["record"]->type).""=>"/intellectualproperty#".str_replace(' ','',$this["record"]->type),
        $this["record"]->name=>"",
    );

    $this->SeoCmsPage->seo_title = $this["record"]->meta_title." - Offshorelicense";
    $this->SeoCmsPage->seo_keywords = $this["record"]->meta_keywords;
    $this->SeoCmsPage->seo_description = $this["record"]->meta_description;

    //$this->SeoCmsPage->seo_title = $this["record"]->name." with Offshorelicense";
    //$this->SeoCmsPage->seo_description = $this["record"]->name." licensing solution with Offshorelicense";
    //$this->SeoCmsPage->seo_keywords = $this["record"]->name." with Offshorelicense";

}
?>
==
<div class="page license">
   <div class="bx_item_detail bx_blue" id="bx_117848907_598">
      <div id="licDetailTop" class="page-top bank">
         <div style="padding-bottom: 0;" class="content mainPage-list">
            <div class="text center">
		{% if attribute(record, "title")%}
		    <h1>{{attribute(record, "title")}}</h1>
		{% else %}
			<h1>INTELLECTUAL PROPERTY</h1>
		{% endif %}

               <div class="licInfo">
                  <div class="logo" style="background-image: url('{{ attribute(record, "logo")|media }}');"></div>
                  <span>
                  <h2>{% if record %}
                            {{ attribute(record, "name") }}
                        {% else %}
                            Not found
                        {% endif %}</h2>
                  <span> {{ attribute(record, "type") }}</span>
                  </span>
                  <div class="cost">
                     <h5></h5>
                  </div>
               </div>
            </div>
         </div>
      </div>






{% if this.page["breadscrumbs"] %}
 <div class="white-bg">
 <div class="content">
    <ul class='breadscrumbs'>
        {%for item,url in this.page["breadscrumbs"]%}
        <li>
            {% if url!="" %}
                <a href="{{url}}">{{item}}</a>
            {% else %}
                {{item}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endif %}



      <div id="licDetailInfo">
         <div class="cont">
            <div class="logo"  style="background-image: url('{{ 'assets/img/menuIntBigGreen.png'|theme }}');"></div>
            <span>{{ attribute(record, "info") | raw }}</span>
         </div>
      </div>




      <div id="licDetailBody">
         <table cellspacing="0" cellpadding="0">
            <thead>
               <tr>
                  <th><a href="{{'intprop'|page}}">Back to list</a></th>
                  <th></th>
                  <th></th>
                  <th class="white">{{ attribute(record, "type") | raw }}</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td></td>
               </tr>
            </tbody>
            <tfoot></tfoot>
         </table>
         <div class="std-style ol-style" style="background-color: #FFF; padding: 24px;">
            {{ attribute(record, "description") | raw }}
         </div>
         {{partial('intprop-contact-form')}}
      </div>
   </div>
   <!--<div class="page-content EverythingYouNeedToKnow">
      <div class="content">
         <div class="text center">
            <h3>Facts &amp; Info for {{ attribute(record, "name") | raw }}</h3>
         </div>
         <tab class="section-width-repair init">
            <section data-icon="profile" data-id="1" class="act"><a>Notable features</a></section>
            <section data-icon="service" data-id="2"><a>Procedure</a></section>
            <section data-icon="document" data-id="3"><a>Documents Required</a></section>
         </tab>
         <tabcontent>
            <section data-id="1" class="text act">
               {{ attribute(record, "tab_features") | raw }}
            </section>
            <section data-id="2" class="text">
               {{ attribute(record, "tab_procedure") | raw }}
            </section>
            <section data-id="3" class="text">
               {{ attribute(record, "tab_documents") | raw }}
            </section>
         </tabcontent>
      </div>
   </div>-->
   <br/><br/><br/><br/>

</div>
