title = "Intellectual property"
url = "/intellectualproperty"
layout = "base"
meta_title = "Intellectual Property Services - IPS - Offshorelicense"
meta_description = "We provide Trademark, Design and Patent Registration services"
is_hidden = 0
seo_keywords = "Local Patent Registration, worldwide patent registration, local trademark registration, local design registration, trademark system, design system services, patent system"
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[SeoCmsPage]
==
<?php
function onStart()
{
    $types = DB::table('offshorelicense_offers_intprop')
            ->select('type')
            ->where('disabled','<>','Yes')
            ->groupBy('type')
            ->get();

     foreach ($types as $type){
          $array[$type->type] = Db::table('offshorelicense_offers_intprop')->where('type',$type->type)->where('disabled','<>','1')->orderby('name')->get();
     }

     $this->page["List"] =$array;

     $featured = array();
     $featured = Db::table('offshorelicense_offers_intprop')->where('featured','1')->where('disabled','<>','1')->orderby('featured_order_id')->take(4)->get();
     $this->page["Featured"] =$featured;

     $this->page['breadscrumbs'] = array('Home'=>$this->page['site_link'],'Intellectual Property'=>"");

}
?>
==
<div class="page page-short intprop">

<div class="page-top main-offer">
	<div class="content mainPage-list">
		<div class="text center">
			<h1 class="main-offer__heading">Intellectual property services</h1>
			<h2 class="main-offer__subheading">Best Intellectual Property Services</h2>
		</div>

		<div class="main-offer__wrap js-main-offer-slider">
			<ul class="transparent-background">
				{%for item in this.page["Featured"]%}
				{% if loop.index == 3 %}
				</ul>
				<ul>
				{% endif %}
					<li class="main-offer__list">
						{% partial 'recommended-card'
							href='intellectualproperty'|page({'slug':item.slug})
							img=item.logo|media
							title=item.name
							isArrow=true
							text=item.type|title
						%}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% if this.page["breadscrumbs"] %}
 <div class="content">
    <ul class='breadscrumbs'>
        {%for item,url in this.page["breadscrumbs"]%}
        <li>
            {% if url!="" %}
                <a href="{{url}}">{{item}}</a>
            {% else %}
                {{item}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="page-content accord BrowseCompaniesByRegion">
	<div class="content">
		<div class="text center">
			<h3>Browse IPS by Type</h3>
		</div>
		<ul>
			{%for type_name,type in this.page["List"]%}
				<li id="accordion_{{type_name|replace({' ':''}) }}">
					<label onclick="$(this).parent('li').toggleClass('act')">
						<div class="logo" ><br></div>
						<span><label>{{type_name}}</label>
						<span>{{type|length}} items available</span></span>
					</label>
                    <ul>
    					{%for item in type%}
							<li id="accordion_{{type_name|replace({' ':''}) }}">
								{% partial 'recommended-card'
									href='intellectualproperty'|page({'slug':item.slug})
									img=item.logo|media
									title=item.name
									text=item.info
									actionText="Learn more"
								%}
							</li>
    					{% endfor %}
				    </ul>
				</li>
	        {% endfor %}
		</ul>
        {{partial('intprop-contact-form')}}
	</div>
</div>
</div>
