title = "Ready-Made Products and Licenses for Sale"
url = "/ready-made-products-and-licenses-for-sale"
layout = "base"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"
==
<?php
function onStart(){
     $this->page['breadscrumbs'] = array('Home'=>$this->page['site_link'],'Ready-Made Products and Licenses for Sale'=>"");


     $this["records"] = Db::table('offshorelicense_storage_rmproducts')->orderBy('published_datetime', 'DESC')->get();

     //if (! $this["record"])
     //   return Redirect::to('/404');


}
?>
==
<div class="page page-short">
   <div class="page-top">
      <div class="content mainPage-list">
         <div class="text center">
            <h1 class="main-offer__heading">Ready-Made Products and Licenses for Sale</h1>
         </div>
      </div>
   </div>




{% if this.page["breadscrumbs"] %}
 <div class="white-bg">
 <div class="content">
    <ul class='breadscrumbs'>
        {%for item,url in this.page["breadscrumbs"]%}
        <li>
            {% if url!="" %}
                <a href="{{url}}">{{item}}</a>
            {% else %}
                {{item}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endif %}


   <div class="whiteBackground">
       <!-------------------------------------------------->
      <!-----------------START Blog news------------------>
      <!-------------------------------------------------->
      <div class="content blog-news-list">
        <div class="blog-news-list__wrap">
            {% set posts = records %}
            {% for post in posts %}
                <div class="inline-3">

                           <div class="logo clickable" data-url="{{'ready-made-products'|page}}/{{ post.slug }}" class="clickable" style="background-image: url('{{ post.image1 |media}}');"></div>



                           <label>
                              <h2 class="clickable" data-url="{{'ready-made-products'|page}}/{{ post.slug }}">{{ post.title }}</h2>
                              <h5>{{ post.published_datetime|date('M d, Y') }}</h5>
                           </label>
                           <span class="text">
                          {{ post.excerpt|striptags }}...
                          </span>
                           <a href="{{'ready-made-products'|page}}/{{ post.slug }}">Read more &gt;&gt;</a>
                </div>
            {% endfor %}
        </div>
         <br>
         <font class="line-navigation">

            {% if posts.lastPage > 1 %}

                    {% if posts.currentPage > 1 %}
                        <a href = "{{ this.page.baseFileName|page({ (pageParam):'1' }) }}"><<</a>
                        <a class="back" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}"><</a>
                    {% endif %}

                    {% for page in 1..posts.lastPage %}
                    {% if page<4%}
                        <a class="{{ posts.currentPage == page ? 'active' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    {%endif%}
                    {% endfor %}

                    {% if posts.currentPage!=4 %}
                    <a>...</a>
                    {%endif%}

                    {% if posts.currentPage>=4 and posts.currentPage<=posts.lastPage-3%}
                        <a class="{{ posts.currentPage == posts.currentPage ? 'active' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): posts.currentPage }) }}">{{ posts.currentPage }}</a>

                    {% if posts.currentPage!=posts.lastPage-3 %}
                    <a>...</a>
                    {%endif%}

                    {%endif%}


                    {% for page in 3..posts.lastPage %}
                    {% if page>posts.lastPage-3%}
                        <a class="{{ posts.currentPage == page ? 'active' : null }}" href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                    {%endif%}
                    {% endfor %}


                    {% if posts.lastPage > posts.currentPage %}
                        <a class="next" href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">></a>
                        <a href = "{{ this.page.baseFileName|page({ (pageParam): posts.lastPage }) }}">>></a>
                    {% endif %}

            {% endif %}
         </font>










      </div>
      <script>
         $(document).ready(function() {
         	$(".clickable").click(function() {
         		var url = $(this).attr('data-url');
         		window.location = url;
         	});
         });
      </script>
      <!-------------------------------------------------->
      <!-------------------END Blog news------------------>
      <!-------------------------------------------------->
      <div id="bxdynamic_7DqYyc_end" style="display:none"></div>
   </div>
</div>
