title = "Detail"
url = "/blog/detail/:slug"
layout = "base"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "Detail"

[blogTags]
hideOrphans = 1
results = 20
direction = "desc"

[blogRelated]
slug = "{{ :slug }}"
results = 5
direction = "desc"
postPage = "Detail"

[SeoBlogPost]
post = "post"

[SeoCmsPage]
==
<?php
function onEnd() {
    if (!$this["blogPost"]->post)
        return Redirect::to('/404');    
    $this->SeoCmsPage->seo_title = $this["blogPost"]->post->seo_title;
    $this->SeoCmsPage->seo_description = $this["blogPost"]->post->seo_description;
    $this->SeoCmsPage->seo_keywords = $this["blogPost"]->post->seo_keywords;

    
    
    
    //$this->SeoCmsPage->seo_title = $this["SeoBlogPost"]->title;
    $this->page['breadscrumbs'] = array(
        'Home'=>$this->page['site_link'],
        'Blog'=>"/blog/detail", 
        $this["blogPost"]->post->title=>"",
    );    
    
    

}
?>
==
<div class="page">

<!-------------------------------------------------->
<!-------------------START Blog--------------------->
<!-------------------------------------------------->

<div class="page-top" style="height: 180px;">
    <div class="content mainPage-list" style="padding-top: 0;">
        <div class="text center" style="padding-top: 20px;">
            <h2 style="    font-size: 36px;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            line-height: 60px;
            margin-bottom: 20px;
            margin-top: 10px;">Blog</h2>
        </div>
    </div>
</div>
 
<!-------------------------------------------------->
<!--------------------END Blog---------------------->
<!-------------------------------------------------->




{% if this.page["breadscrumbs"] %}
 <div class="white-bg">
 <div class="content">
    <ul class='breadscrumbs'>
        {%for item,url in this.page["breadscrumbs"]%}
        <li>
            {% if url!="" %}
                <a href="{{url}}">{{item}}</a>
            {% else %}
                {{item}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</div>
{% endif %}



{% set post = blogPost.post %}
{% component 'SeoBlogPost' data=post%}

<div class="whiteBackground">
    <div class="news-detail content">
    
    	<h1 style="    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    font-weight: 700;">{{ post.title }}</h1>
    	<span class="news-date-time">{{ post.published_at|date('M d, Y') }}</span>
    	<div class="news-detail-text">
           {% for image in post.featured_images|slice(0, 1) %}
               <img src="{{ image.path  }}" style="display:none;"/>
           {% endfor %}    	
    	{{ post.content_html|raw }}
    	</div>
    
        <div class="news-tags"><label>Tags:</label>
            {% for tag in post.tags %}
                <a href="/search/{{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    		
    	<a href="{{ 'blog'|page({page:1}) }}" class="news-back-link">Back to list</a>
    
    
    
        {% if  blogRelated.posts.count>0 %}
            <div class="news-related-articles">
                <h3>Related Articles</h3>
                    {% for Post in blogRelated.posts %}
                        <a href="{{Post.url}}">{{ Post.published_at|date('M d, Y') }}:&nbsp;{{ Post.title }}</a>
                    {% endfor %}
    		</div>
        {% endif %}
    
    
    
    
    
    </div>
</div>


</div>