title = "Intellectual property"
url = "/intellectualproperty"
layout = "base"
meta_title = "Intellectual Property Services - IPS - Offshorelicense"
meta_description = "We provide Trademark, Design and Patent Registration services"
is_hidden = 0
seo_keywords = "Local Patent Registration, worldwide patent registration, local trademark registration, local design registration, trademark system, design system services, patent system"
robot_index = "index"
robot_follow = "follow"
contentType = "html"

[SeoCmsPage]
==
<?php
function onStart()
{
    $types = DB::table('offshorelicense_offers_intprop')
            ->select('type')
            ->where('disabled','<>','Yes')
            ->groupBy('type')
            ->get();
     
     foreach ($types as $type){
          $array[$type->type] = Db::table('offshorelicense_offers_intprop')->where('type',$type->type)->where('disabled','<>','1')->orderby('name')->get();
     }

     $this->page["List"] =$array;
     
     $featured = array();
     $featured = Db::table('offshorelicense_offers_intprop')->where('featured','1')->where('disabled','<>','1')->orderby('featured_order_id')->take(4)->get();
     $this->page["Featured"] =$featured;   
     
     $this->page['breadscrumbs'] = array('Home'=>$this->page['site_link'],'Intellectual Property'=>"");     
     
}
?>
==
<div class="page intprop">
		
<div class="page-top" style="height: 460px;">
	<div class="content mainPage-list">
		<div class="text center">
			<h1>Intellectual property services</h1>
			<h2>Best Intellectual Property Services</h2>
		</div>
		<div id="companies_recomended">
			<div class="inline-warp">
				<div class="inline-2 inline-2left bank">
					<ul class="transparent-background">
					
						<div id="bxdynamic_GBEzmQ_start" style="display:none"></div>
								
			
						{%for item in this.page["Featured"]%}
						
						


						
                        <li class="float-left margin-left">
                           <a href="{{'intellectualproperty'|page({'slug':item.slug})}}">
                              <div style="background-image: url('{{item.logo|media}}');"><br></div>
                              <span><h3>{{item.name}}</h3> 
                              <span>
						    {{item.type}}     
                              </span></span>

                    				<div class="cost">
                    				</div>

                           </a>
                        </li>
							
							
						{% endfor %}
			
<div id="bxdynamic_GBEzmQ_end" style="display:none"></div>								<div class="clear"></div>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>




{% if this.page["breadscrumbs"] %}
 <div class="content">
    <ul class='breadscrumbs'>
        {%for item,url in this.page["breadscrumbs"]%}
        <li>
            {% if url!="" %}
                <a href="{{url}}">{{item}}</a>
            {% else %}
                {{item}}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}



<div class="page-content BrowseCompaniesByRegion">
	<div class="content">
		<div class="text center">
			<h3>Browse IPS by Type</h3>
		</div>
		
		
		
		
					
		<ul>
			{%for type_name,type in this.page["List"]%}
			
			
				<li id="accordion_{{type_name|replace({' ':''}) }}">
					<label onclick="$(this).parent('li').toggleClass('act')">  
						<div class="logo" ><br></div>
						<span><label>{{type_name}}</label>
						<span>{{type|length}} items available</span></span>
					</label>
                    <ul>
    					{%for item in type%}
    						<li><a href="{{'intellectualproperty'|page({'slug':item.slug})}}"><div class="logo" style="background-image: url('{{item.logo|media}}');"><br></div></a>
    							<span><a href="{{'intellectualproperty'|page({'slug':item.slug})}}"><label>{{item.name}}</label></a> <span>{{item.info}}</span></span>
    							<a class="button" href="{{'intellectualproperty'|page({'slug':item.slug})}}">Learn more</a>
    						</li>					
    					{% endfor %}
				    </ul>
				</li>
					
	        {% endfor %}
		
		</ul>
		
		
		
                {{partial('intprop-contact-form')}}
	</div>
</div>


</div>