.main-menu {
    background-color: rgb(255, 255, 255);
}

.main-menu ul {
    text-align: center;
    margin: 0 auto;
}

.main-menu ul li {
    display: inline-block;
    margin: 0px 0px;
    text-align: center;
    height: 60px;
    width: 160px;
    border-left: solid #FFF 1px;
}

.main-menu ul li:after {
    content: "";
    border-left: solid #8a8a8a 1px;
    border-right: solid #8A8A8A 1px;
    height: 44px;
    width: 160px;
    float: left;
    margin-left: -1px;
    margin-top: -6px;
}

.main-menu li:last-child {
    border-right: solid #FFF 1px;
}

.main-menu ul li a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    top: 45px;
    position: relative;
}

.main-menu ul li.current:hover,
.main-menu ul li:hover {
    text-decoration: none;
    background-color: #adbe4f !important;
    cursor: pointer;
    z-index: -1;
}

.main-menu ul li:hover a {
    color: #FFF;
}

.main-menu li:nth-child(1) {
    background: url("/images/company-icon.png") top no-repeat;
}

.main-menu li:nth-child(2) {
    background: url("/images/bank-icon.png") top no-repeat;
}

.main-menu li:nth-child(3) {
    background: url("/images/license-icon.png") top no-repeat;
}

.main-menu li:nth-child(4) {
    background: url("/images/tech-icon.png") top no-repeat;
}

.main-menu li:nth-child(5) {
    background: url("/images/merchant-icon.png") top no-repeat;
}

.main-menu li:nth-child(6) {
    background: url("/images/additional-icon.png") top no-repeat;
}
