button {
    display: block;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #E31F31;
    height: 45px;
    border: 0;
    border-radius: 7px;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;
    background-color:rgba(255,255,255,0.85);
    color: #374d5c;
}